/**
 * Yana for Windows par Valentin CARRUESCO aka idleman <idleman@idleman.fr> 
 * Licence Creative Commons -by -sa -nc
 * Feuille de style pour les fenetres de l'application
**/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


		html,body{
			height:100%;
			width:100%;

		}
		
		body{
			font-family:'Courier New';
			font-weight:400;
			background:#111111;
			line-height:1.6em;
			color:#ffffff;
			transition:all 0.2s linear;
	
		}
		
	
		body.emotion_angry{
			background:#EB310C;
		}
		body.emotion_happy{
			background:#38B0DB;
		}

		h1{
			font-size:2em;
		}
		h2{
			font-size:1.5em;
		}
	
		small{
			font-size: 0.8em;
			display:block;
			color:#9B9B9B;
		}

		#configuration-container{
			opacity:0.8;
			position:absolute;
			right:0%;
			top:0%;
			width:50%;
			background:#000000;
			color:#ffffff;
			text-shadow:0 0 10px rgba(134,255,255,0.7);
			transition:display 0.2s linear;
			height:100%;
			box-sizing:border-box;
			padding:10px;
			display:none;
		}

		#configuration-container li {
			list-style-type: none;
		}

		#configuration-container ul li ul li {
			background-color:rgba(255,255,255,0.5);
		}
	
		#speak-container{
			position:absolute;
			top:50%;
			margin-left:-200px;
			left:50%;
		}
		#icon-container{
			position:absolute;
			top:30%;
			left:1%;
			text-shadow:0 0 10px rgba(134,255,255,0.9);
			color:#D5EAF1;
			font-size:200px;
			display:none;
		}
		#log-container{
			position:absolute;
			top:1%;
			height:99%;
			width:25%;
			right:2%;
			text-shadow:0 0 10px rgba(134,255,255,0.9);
			color:#D5EAF1;
			font-size:14px;
			line-height:11px;
			overflow-x:hidden;
			overflow-y:hidden;
			
			text-align:left;
		}

		
		#hour-container{
			position:absolute;
			bottom:10%;
			font-weight:bold;
			left:1%;
			font-size:30px;
			font-family:'Courier New';
			text-align:left;
			color:#ffffff;
			text-shadow:0 0 5px rgba(134,255,255,0.9);
		}

		#status-bar{
			position:absolute;
			top:1%;
			
			left:1%;
			font-size: 11px;
			font-family:'Courier New';
			text-align:left;
			color:#ffffff;
			text-shadow:0 0 5px rgba(134,255,255,0.9);
		}
		#status-bar .client-listen{
			font-weight:normal;
			font-size: 16px;
			text-shadow: 0 0 5px rgba(0, 255, 16, 1);
		}

		#status-bar .client-listen:before{
			content : '\f130';
			padding-right: 5px;
			font-family: FontAwesome;
		}

		#status-bar .client-speak{
			font-weight:normal;
			font-size: 16px;
			 text-shadow: 0 0 5px #0017FF;
		}

		#status-bar .client-speak:before{
			content : '\f075';
			padding-right: 5px;
			font-family: FontAwesome;
		}

		#status-bar .client-face:before{
			content : '\f06e';
			padding-right: 5px;
			font-family: FontAwesome;
		}

		#status-bar .client-face{
			font-weight:normal;
			font-size: 16px;
			 text-shadow: 0 0 5px #FF00CB;
		}

		.tonality{
			background:#D5EAF1;
			width:2px;
			vertical-align:top;
			min-height:2px;
			display:inline-block;
			margin:0px 2px 0px 0px;
			transition:all 0.3s linear;
			box-shadow:0 0 10px 1px rgba(134,255,255,1);
		}
		.button,input{
			transition:all 0.2s linear;
			padding:10px;
			text-shadow:0 0 3px rgba(134,255,255,0.9);
			
			display:inline-block;
			min-width:20px;
			font-size:30px;
		}
		input{
			background:transparent;
			border:none;
			color:#ffffff;
			border-bottom :2px solid rgba(134,255,255,0.9);
		}

		.proxyGroup{
			display:none;
		}

		.btn{
			padding:10px;
			cursor:pointer;
		}
	
		.button{
			cursor: pointer;
		}